body {
	background-color: green;
}

body,
h1,
h3,
p {
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 1.35em;
}


img{
	max-width: 100%;
}


.container {
	margin-top: 160px;
	text-align: center;
	background-color: black;
	max-width: 940px;
	width: 100%;
}

button{
	max-width: 100%;
}

hr {
	width: 600px;
	border-bottom: 1px solid black;
}

.quote-box {
	border: 1px dashed black;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 15px;
}